/.idea/
/paper and presentations/
/analysis/
/analysis
/analysis_2/
/data/
/results/
/data_before/
data_before_2/
/dataset_preparation_before/
/machine_learning_before/
__pycache__/
/.git/
/env/
/tmp_cluster_output/
/test_MEGNet/
tests/
/test_MEGNet
/superconductors_3D/machine_learning/callback/
/superconductors_3D/machine_learning/checkpoints/
/superconductors_3D/machine_learning/tensorboard/
*.egg-info/
train.py

superconductors_3D/data/final/ICSD/cifs/
superconductors_3D/data/final/ICSD/graphs/
superconductors_3D/data/final/ICSD/3DSC_ICSD.csv
superconductors_3D/data/final/MP/graphs/
superconductors_3D/data/final/MP/SC_MP_matches*
superconductors_3D/data/intermediate/
superconductors_3D/data/source/SuperCon/cleaned/
superconductors_3D/data/source/MP/cleaned/
superconductors_3D/data/source/ICSD/cleaned/
superconductors_3D/data/source/MP/raw/all_cifs/
superconductors_3D/data/source/MP/raw/0_all_data_MP.csv
superconductors_3D/data/source/ICSD/raw/*
superconductors_3D/data/source/SuperCon/raw/from_Masterarbeit/


